.link {
    background-color: #d8f8fe;
    box-shadow:inset 3px 3px 5px rgb(151, 226, 250),
    inset -3px -3px 5px rgb(151, 226, 250);
    border-radius: 5px;
    padding: 10px;
    
    margin-left:-1px;
    margin-top:6px;
  
  }
  
  .link h3 {
    margin-top: 0;
    font-size:0.9cm;
  }
  .link h4{
    margin-top: 0;
    width:20cm;
    height:2.5cm;
    text-align: justify;
    color:rgb(81, 79, 79);
    background-color: #d8f8fe;
  }
  .link a {
    display: block;
    margin-bottom:14px;
    margin-top:-0.5cm;
    font-size:16px;
    text-decoration:none;
  }
  
  
  .column-container {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    height:5cm;
    width:5cm;
    margin-left:24cm;
    margin-top:-5.3cm;
  }
  .arts{
    background:linear-gradient(to left,rgba(2, 87, 118, 0.858),rgba(4, 19, 117, 0.927));
    color:white;
    height:2.5cm;
    text-align:center;
    margin-top:-1cm;
    margin-left:-10px;
    width:30.134cm;
    }
.arts p{
    margin-left:7cm;
     position: absolute;
    font-size:1cm;
    font-weight:bold;
    font-family  :Verdana, Geneva, Tahoma, sans-serif;

}
  
  