.link {
    background-color: #dffed8;
    box-shadow:inset 3px 3px 5px rgb(166, 255, 139),
    inset -3px -3px 5px rgb(166, 255, 139);
    border-radius: 5px;
    padding: 10px;
    
    margin-left:-1px;
    margin-top:6px;
  
  }
  
  .link h3 {
    margin-top: 0;
    font-size:0.9cm;
  }
  .link h4{
    margin-top: 0;
    width:20cm;
    height:2.5cm;
    text-align: justify;
    color:rgb(81, 79, 79);
    background-color: #dffed8;
  }
  .link a {
    display: block;
    margin-bottom:14px;
    margin-top:-0.5cm;
    font-size:16px;
    text-decoration:none;
  }
  
  
  .column-container {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    height:5cm;
    width:5cm;
    margin-left:24cm;
    margin-top:-5.3cm;
  }
  .medi{
    background:linear-gradient(to right,rgb(10, 123, 2),rgba(3, 3, 0, 0.927));
    color:white;
    height:2.5cm;
    text-align:center;
    margin-top:-1cm;
    margin-left:-10px;
    width:30.5cm;
    }
.medi p{
    margin-left:6cm;
     position: absolute;
    font-size:1cm;
    font-weight:bold;
    font-family  :Verdana, Geneva, Tahoma, sans-serif;

}
  
  